body {
    background-color: white;
}

h1, h2, h3 {
    color: black;
}


hr {
    border-style: none;
    border-top-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
   }

a {
    text-decoration: none;
}


